// run 'npm watch-css' in terminal to start compiling SASS

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$main-font: 'Open Sans', sans-serif;
$main-font-color: white;
$secondary-font-color: gainsboro;
$bg-color: #374550;
$input-color: #69737c;
$border-color: grey;

body {
  margin: 0;
  font-family: $main-font;
  background-color: $bg-color;
  color: $main-font-color;
}

#container {
  border: 1px solid $border-color;
  width: 550px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}

.h1-container {
  background-color: $bg-color;
  position: absolute;
  top: 5px;
  padding: 0 10px;
}



.cake-form {

  .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, textarea {
    font-family: $main-font;
    padding: 5px;
    background-color: $input-color;
    border: 1px solid $border-color;
    color: $main-font-color;
  }
  .wide {
    width: 100%;
  }
  .selectors, .selector-label {
    margin: 10px 5px 10px 0;
  }
  .selector-label {
    color: $secondary-font-color;
    font-size: 14px;
  }
  .button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .submit-button {
    background-color: transparent;
    border: 2px solid white;
    color: $main-font-color;
  }
  .reset-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: $secondary-font-color;
  }
  .button:hover {
    font-weight: bolder;
  }

}
