@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #374550;
  color: white; }

#container {
  border: 1px solid grey;
  width: 550px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto; }

.h1-container {
  background-color: #374550;
  position: absolute;
  top: 5px;
  padding: 0 10px; }

.cake-form .form-label {
  margin-bottom: 5px;
  font-weight: bold; }

.cake-form input, .cake-form textarea {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  background-color: #69737c;
  border: 1px solid grey;
  color: white; }

.cake-form .wide {
  width: 100%; }

.cake-form .selectors, .cake-form .selector-label {
  margin: 10px 5px 10px 0; }

.cake-form .selector-label {
  color: gainsboro;
  font-size: 14px; }

.cake-form .button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer; }

.cake-form .submit-button {
  background-color: transparent;
  border: 2px solid white;
  color: white; }

.cake-form .reset-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: gainsboro; }

.cake-form .button:hover {
  font-weight: bolder; }
